.about_me_my_image {
  background: linear-gradient(to bottom, #222629 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 30%, #222629 100%), url("../../assets/images/about_me_image.jpeg");
  background-repeat: no-repeat;
  background-position-x: 45%;
  background-size: cover;

  @media screen and (max-width: 640px) {
    background-position: 86%;
  }

  @media screen and (max-width: 390px) {
    background-position: 84%;
  }
}
