.about_me_my_image {
  background: linear-gradient(to bottom, #191d1d 0%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0) 85%, #191d1d 100%), url("../../assets/images/about_me_image.jpeg");
  background-repeat: no-repeat;
  background-position-y: 14%;
  background-size: cover;
}
