.skills_main_section {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 7%, #191d1d 100%), url("../../assets/images/skills_background2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 640px) {
    background-position: 90%;
  }
}
